//grant codeBase "file:/F:/workspace/05RMIClient/bin/" {
	//permission java.security.AllPermission;
//};
grant {
	permission java.security.AllPermission; 
};